body {
  overflow-y: scroll;
  background-color: var(--light-color);
}

.brand-title {
  text-align: center;
  font-weight: var(--black-font-weight);
  font-size: 1.2rem;
  margin: 0 15px 10px 15px;
}

.log-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  gap: 10px;
  margin: 0;
}

.log-list>li {
  border-radius: 10px;
  padding: 10px;
  /*background-color: var(--gray-color);*/
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-list>li.result-good {
  background-color: var(--good-color);
}

.log-list>li.result-bad {
  background-color: var(--bad-color);
}


.toggle {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.toggle span {
  font-size: 1.5rem;
}

/* Styling toggle checkbox */

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 50px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 44px;
}

label.initialized:after {
  transition: 0.3s;
}

input:checked + label {
  background: var(--primary-color);
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 64px;
}
